*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*--- header ---*/
.header{

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(11, 7, 75, 0.7),rgba(11, 7, 75, 0.7)), url(images/space.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}
#Logo:hover{
    transform: scale(1.3);
    transition: 0.2s;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 20px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ee196a;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.button-Visit{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.Arrow__Down .fa{
    font-size: 35px;
    padding-top: 50px;
}

#DownA{
    animation: arrowanim 1s infinite;
}

@keyframes arrowanim{
    from{font-size: 50px;}
    to{font-size: 30px;}
}


.button-Visit:hover {
    border: 1px solid #ee196a;
    background: #ee196a;
    transition: 0.7s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #ee196a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -218px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
      padding: 12px;
    }
}


/*--- Newest ---*/
.Newest{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;


}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    position: relative;
  }

@media (max-width: 1000px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media (max-width: 800px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }


.grid-item {
    position: relative;
  }

  .grid-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(238,25,106, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .grid-item:hover:before {
    visibility: visible;
    opacity: 1;
  }

  .grid-item:hover:before {
    content: attr(data-title);
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-style:italic;
  }

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*-- User Reviews --*/
.Reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.Reviews__col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    cursor: pointer;
    display: flex;
}
.Reviews__col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.Reviews__col p{
    padding: 0;
}
.Reviews__col h3{
    margin-top: 15px;
    text-align: left;
}
/*-- Contact Us --*/
.Contact{
margin: 100px auto;
width: 80%;
background-image: linear-gradient(rgba(2, 1, 24, 0.7),rgba(2, 1, 24, 0.7)), url(images/contactus.jpg);
background-position: center;
background-size: cover;
border-radius: 10px;
text-align: center;
padding: 100px 0;
}
.Contact h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .Contact h1{
        font-size: 24px;
    }
}
/*-- Footer --*/
.Footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.Footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
}

.Arrow .fa{
    font-size: 50px;
    color: #ee196a;
}

.Arrow .fa:hover{
    font-size: 60px;
    transition: linear;
    transition: 0.1s;
}




/*------About Us--------*/

.about__header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/planetset2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.About__us{
    width: 80%;
    margin: auto;

}

.About__col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.About__col img{
    width: 100%;
}

.About__col h1{
    padding-top: 0;
}
.About__col p{
    padding: 15px 0 25px;
}
.Explore-btn{
    border: 1px solid black;
    background: transparent;
    color: black;
}
.Explore-btn:hover {
    border: 1px solid #ee196a;
    background: #ee196a;
    color: white;
    transition: 0.5s;
}




/*---Conact Us---*/
.contact__header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/contactus2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

/*--- Map location---*/

.location{
     width: 80%;
     margin: auto;
     padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact__us{
    width: 80%;
    margin: auto;
}
.contact__col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact__col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}
.contact__col div .fa{
    font-size: 28px;
    color: #ee196a;
    margin: 10px;
    margin-right: 30px;
}
.contact__col div p{
    padding: 0;
}
.contact__col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact__col input, .contact__col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* --- Registration --- */


.register__header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/register.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.Register__us{
    width: 80%;
    margin: auto;

}

.Register__col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.Register__col img{
    width: 100%;
}

.Register__col h1{
    padding: 0 0 20px 0;
    border-bottom: 3px solid #ee196a;
}

.Register__col form{
    box-sizing: border-box;
}

form .txt{
    position: relative;
    border-bottom: 1px solid #ee196a;
    margin:30px 0;
}

.txt input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgba(0, 0, 0, 0.747);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s;
}

.txt span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ee196a;
}

.txt input:focus ~label,
.txt input:valid ~label{
    top: -5px;
    color: #ee196a;
}

.LogInRedirect{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 2px;

}

.LogInRedirect a{
    margin-left: 10px;
    color: #ee196a;
    text-decoration: none;
}

.LogInRedirect a:hover{
    text-decoration: underline;
}



/* --- LogIn --- */

.LogIn__header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/types-of-logins-article.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.LogIn__us{
    width: 80%;
    margin: auto;

}

.LogIn__col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.LogIn__col img{
    width: 100%;
}

.LogIn__col h1{
    padding: 0 0 20px 0;
    border-bottom: 3px solid #ee196a;
}

.Register__col form{
    box-sizing: border-box;
}

form .txt{
    position: relative;
    border-bottom: 1px solid #ee196a;
    margin:30px 0;
}

.txt input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgba(0, 0, 0, 0.747);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s;
}

.txt span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ee196a;
}

.txt input:focus ~label,
.txt input:valid ~label{
    top: -5px;
    color: #ee196a;
}

.LogInRedirect{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 2px;

}

.LogInRedirect a{
    margin-left: 10px;
    color: #ee196a;
    text-decoration: none;
}

.LogInRedirect a:hover{
    text-decoration: underline;
}